#include "resource.h"

IDI_PAINT ICON "paint-exe.ico"

IDR_MENU_FILE MENU
{
    MENUITEM "&Save", IDM_FILE_SAVE
    MENUITEM "&Load", IDM_FILE_LOAD
    MENUITEM SEPARATOR
    MENUITEM "E&xit", IDM_FILE_EXIT
}

IDR_MENU_TOOLS MENU
{
    MENUITEM "&Pen", IDM_TOOL_PEN
    MENUITEM "&Eraser", IDM_TOOL_ERASER
    MENUITEM "&Line", IDM_TOOL_LINE
    MENUITEM "&Circle", IDM_TOOL_CIRCLE
    MENUITEM "&Rectangle", IDM_TOOL_RECTANGLE
    MENUITEM "&Brush Color", IDM_TOOL_BRUSH_CUSTOMIZATION
}



